<%- include('bootheader') -%>
<%- include('menubar') -%>

<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<style>
body {
  font-family: 'Rajdhani', sans-serif;
}
</style>
</head>

<div class="jumbotron">
    <h1>Testing Page</h1>
    <p>
      I'm going to use ESPN's page as a <a href="https://www.espn.com/nba/scoreboard">design guide</a>
    </p>

</div>

<div class="input-group">
  <input type="text" class="form-control" id = "textBox" name="playerName" placeholder="Firstname Lastname">
  <div class="input-group-append">
    <button class="btn btn-success" type="submit" onclick="addRow()">Add Row</button>
  </div>
</div>

<br>


<table id="table2" class="table table-bordered table-striped">
    <tr>
        <th>Item</th>
        <th>Quantity</th>
    </tr>
</table>



<script>

function addRow() {
   "use strict";

    var table = document.getElementById("table2");

    var row= document.createElement("tr");
    console.log(row);
    var inputName = document.createElement("td");
    var checkBox = document.createElement("INPUT");
    checkBox.setAttribute("type", "checkbox");
    inputName.innerHTML = document.getElementById("textBox").value;

    row.appendChild(checkBox);
    row.appendChild(inputName);


    table.children[0].appendChild(row);
};

</script>






<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h3>Settings:</h3>


<hr>























<form method="post" action="/xxx">
  <h4>Search Players</h4>
<img src="https://static.thenounproject.com/png/138572-200.png" alt=""
  height=25px, width=25px>
  <b>searchIcon</b> <input type="text"
         name="playerName"
         placeholder="First Last">
<input type="submit"  value="Add">
         </form>
<br>


<form method="post" action="/showformdata">
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Search</span>
  </div>
  <input type="text" name="playerName" class="form-control" placeholder="First Last" aria-label="Username" aria-describedby="basic-addon1">
</div>
</form>

<form method="post" action="/showformdata">
<div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">

  <div class="input-group">
    <!-- <div class="input-group-prepend">
      <div class="input-group-text" id="btnGroupAddon"><b>Search</b></div>
    </div> -->
    <input type="text" class="form-control" placeholder="Input group example" aria-label="Input group example" aria-describedby="btnGroupAddon">
  </div>

  <div class="btn-group mr-2" role="group" aria-label="First group">
    <button type="button" class="btn btn-secondary">Add</button>
  </div>
</div>
</form>







<br>
<p>My use of the row and column layout using bootstraps grid system</p>
<br>


<div class="row">
  <div class="col">
    <img src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/1966.png"
    class="myimg">
    Lebron James

  </div>
  <div class="col">
    <img src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3975.png"
    class="myimg">
    Stephen Curry

  </div>
  </div>

  <div class="row">
    <div class="col">
      <img src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3202.png"
      class="myimg">
      Kevin Durant

    </div>
    <div class="col">
      <img src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3032977.png"
       class="myimg">
      Giannis Antetokuonmpo

    </div>
  </div>














<hr>
<p>Some practice for future more advanced div items</p>
<br>

<div class="playerBox">
  <img src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3202.png"
  class="boxPic">
</div>

<br>


<div class="content">
    <img src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3202.png"/ alt="" >
    <h4>Kevin Durant</h4>
    <p>Points Rebounds Assists</p>
</div>

<br>





<%- include('bootfooter') -%>
