<%- include('bootheader') -%>
<%- include('menubar') -%>

<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<style>
body {
  font-family: 'Rajdhani', sans-serif;
}
</style>

    <h1>
      Birthday card generator
    </h1>

<form method="post" action="/reflectFormData" class="bg-info">
  Enter recipients name:
  <input type="text"
         name="fullname"
         placeholder="name"><br>

         Enter your name:
         <input type="text"
                name="yourname"
                placeholder="your name"><br>

  Background color:
  <input type="color"
         name="favoriteColor"> <br>

         Border color:
         <input type="color"
                name="borderColor"> <br>

  Adjective 1:
  <select name="adj1">
    <option>unlucky</option>
    <option>indifferent</option>
    <option>happy</option>
    <option>angry</option>
  </select>
  <br>
  Adjective 2:
  <select name="adj2">
    <option>great</option>
    <option>terrible</option>
    <option>miserable</option>
    <option>mediocre</option>
  </select>

  <br>
  Choose one<br>
  best <input type="radio" name="bw" value="best"><br>
  worst  <input type="radio" name="bw" value="worst"><br>


 What are their interests:<br>
  reading <input type="checkbox" name="interest" value="reading"><br>
  coding  <input type="checkbox" name="interest" value="coding"><br>
  singing <input type="checkbox" name="interest" value="singing"><br>
  video games
          <input type="checkbox" name="interest" value="video games"><br>
  meditation
          <input type="checkbox" name="interest" value="meditation"><br>
  <hr>

  <button type="submit" class="btn btn-primary">Generate Card</button>
</form>

<hr>


<%- include('bootfooter') -%>
