<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="/">PlayerTracker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item ">
        <a class="nav-link" href="/">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/demo">Demo</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/userSettings">Settings</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/playerSearch">Player Creator</a>
      </li>

      <li class="nav-item">
        <a class="nav-link"><b>Add Player:</b></a>
      </li>

<form method="post" action="/getPlayer" class="form-inline">
  <div class="input-group">
    <input type="text" class="form-control" name="food" placeholder="Firstname Lastname">
    <div class="input-group-append">
      <button class="btn btn-secondary"
              type="submit">
              <img
              src="https://cdn0.iconfinder.com/data/icons/feather/96/591276-arrow-right-512.png"
              alt=""
              width="20px"
              height="20px">
      </button>
    </div>
  </div>
</form>

<li class="nav-item">
  <a class="nav-link" href="/about">About</a>
</li>


</ul>
</div>
</nav>
