<%- include('bootheader') -%>
<%- include('menubar') -%>

<h1>the page is displaying</h1>

<form method="post" action="/restaurantHelper" class="bg-info">
       Total Meal Cost: <input type="number" name="cost"><br>
       Tip Rate: <input type="number" name="tip"><br>
       Number of Guests: <input type="name" cVal="guests"><br>
     <input type="submit" value="Caclulate Cost Per Person">
              </form>

<%- include('bootfooter') -%>
